//-----------------------------VARIABLES----------------------------------
$bgcolor: rgb(48, 41, 41); //global variable
$textcolor: rgb(214, 235, 211); //global variable
$font: "Century Gothic"; //global variable
$imgurl: "img/background-leaves.jpg"; //global variable
